@import "tailwindcss";
@plugin "daisyui";

/* @font-face {
  font-family: 'AdorNoirritRegular';
  src: url('/fonts/AdorNoirritRegular.ttf') format('truetype');
}
  
  body {
    font-family: AdorNoirritRegular;
  } */

  body {
    font-family: "Hind Siliguri", serif;
    font-weight: 400;
    font-style: normal;
  }
.active {
  background-color: rgb(209, 59, 59);
}